body {
    margin: 0;
    overflow: hidden;
}

#button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  
}

button:hover {
  background-color: #0056b3;
}